

#container{
   width: 100%;
    margin: 0px auto;
}
 
 #col1{
     margin: 10px;
     max-height: 300px;
     min-height: 260px;
     max-width: 300px;
     min-width: 250px;
     border-radius: 10px;
     padding: 10px;
     border: 1px solid  #808080;

 }

 #col2{
    border: 1px solid  #808080;
     margin: 10px;
     max-height: 300px;
     min-height: 260px;
     max-width: 300px;
     min-width: 250px;
     border-radius: 10px;
     padding: 10px;
}

#col3{
    border: 1px solid  #808080;
     margin: 10px;
     max-height: 300px;
     min-height: 260px;
     max-width: 300px;
     min-width: 250px;
     border-radius: 10px;
     padding: 10px;
}

#col4{
    border: 1px solid  #808080;
     margin: 10px;
     max-height: 300px;
     min-height: 260px;
     max-width: 300px;
     min-width: 250px;
     border-radius: 10px;
     padding: 10px;
}

#logo{ /*resizing logoz*/
    width: 80px;
    margin-bottom: 0px !important;
    
}
#logo1{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    height: 50px;
    border-bottom: 1px solid #808080;
}

#visitshop{
    text-align: center;  
}

#visitbtn{
    background: #3b5998;
    border: 1px solid #3b5998;
}

#productslider{
    border: 1px solid #000;
}

#select{ /*selecting sliding category*/
    margin-top: 5px;
    text-align: center;

}

#slct{
    border-radius: 4px;
    color: #3b5998;
}

<<<<<<< HEAD

=======
.footer {  /* footer details*/
    position: fixed;

    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color:#3b5998;
    color:rosybrown;
    text-align: center;
    border-radius: 4px;
    
}

#logo7{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    height: 40px;
    border-bottom: 1px solid #808080;
    padding-bottom: 10px;
}
#logo8{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    height: 40px;
    width: 40px;
    border-bottom: 1px solid #808080;
    text-align: left;
    padding-bottom: 10px;
}
.social{
    align-content: left;

}
.search{
   
   padding-left: 600px;
}
.jumbotron{
    height: 50px;
    color: blueviolet;
}
.text{
    text-align: left;
    padding-top: 0px;
}
>>>>>>> f79e9c026a93fbcb6afe5c100166cda08b65c20d
