input{
	font-size: 28px;
}
input[type="submit"]{
	background-color: steelblue;
	width: 350px;
}
#forget{
	background-color: whitesmoke;
	height: 40px;
	margin-top: 20px;
	padding-top: 10px;
	width: 600px;

}
input[type="submit"]:hover {
    opacity: 0.8;
}
footer{
	text-align: center;
	background-color: skyblue;
	height: 90px;
	margin-top: 12px;
	padding-top: 40px;
}